
.container {
  width: 100vw; 
  height: 100vh; 
  background: radial-gradient(var(--four), var(--one));
  display: flex;
  flex-direction: column;
}

.mainImage {
  width: 80%;
  height: auto;
}

.topIconsWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.iconClicker:hover {
  opacity: 0.6;
  cursor: pointer;
}

.topIcons {
  width: 30px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.mainImageWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -100px;
  color: #fff;
}

.titleWrapper h1 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 50px;
  margin-bottom: 0;
}

.titleWrapper a {
  background-color: var(--four);
  padding: 15px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 550px) {
  .wrapper {
    display: flex;
  }
}

@media only screen and (max-width: 550px) {
  .wrapper {
    display: block;
  }
}