@media only screen and (min-width: 500px) {
  .container {
    padding: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .linksWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -150px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    background-color: yellow;
    padding: 10px;
    min-width: 250px;
  }
}