.container {
  background-color: var(--seven);
}

.titleName {
  font-family: 'Tourney', cursive;
  color: var(--two);
}

@media only screen and (min-width: 500px) {
  .container {
    padding: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .titleName,
  .footerSidebar {
    margin-left: auto;
    margin-right: auto;
  }

  .linksWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -150px;
    margin-left: 22px;
    font-weight: bold;
  }

  .linksWrapper a,
  .linksWrapper span {
    text-decoration: none;
    color: var(--two);
    font-size: 21px;
  }

  .linksWrapper span:hover {
    cursor: pointer;
    color: #0d6efd;
  }

  .footerSidebar a {
    margin: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    background-color: yellow;
    padding: 10px;
    min-width: 250px;
  }
}