.container {
  background-color: var(--seven);
}

.titleName {
  font-family: 'Tourney', cursive;
  color: var(--two);
}

@media only screen and (min-width: 500px) {
  .container {
    padding: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }

  .titleName {
    display: flex;
    align-items: center;
  }

  .linksWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -150px;
  }

  .linksWrapper a {
    text-decoration: none;
    color: var(--two);
    font-size: 21px;
  }

  .footerSidebar {
    /* align-items: center; */
  }
}

@media only screen and (max-width: 500px) {
  .container {
    background-color: yellow;
    padding: 10px;
    min-width: 250px;
  }
}